[Desktop Entry]
Encoding=UTF-8
Name=Link para readme.md
Type=Link
URL=https://github.com/EduardoNunes5/LinkedList/blob/master/readme.md
Icon=text-html
